<table id="lobby">
    <tr id="lobby-headers">
        <td id="lobby-title">Cardshifter Lobby</td>
        <td id="lobby-deck-builder" width="20%"><button data-ng-click="openDeckBuilder()" class="btn btn-navbar csh-button">Deck Builder</button></td>
    </tr>
    <tr id="lobby-invite-request" data-ng-show="gotInvite">
        <td colspan="2">
            <div id="lobby-accept-invite">
                Game invite from {{invite.name}} to play {{invite.type}}!<br/>
                <input data-ng-click="acceptInvite(true)" type="button" value="Accept" class="btn btn-success"/>
                <input data-ng-click="acceptInvite(false)" type="button" value="Decline" class="btn btn-danger"/>
                <audio id="ping">
                    <source src="ping_sound.mp3" type="audio/mpeg">
                </audio>
            </div>
        </td>
    </tr>
    <tr id="lobby-list-headers">
        <th id="lobby-message-list-header">Messages</th>
        <th id="lobby-users-list-header">Users Online</th>
    </tr>
    <tr id="lobby-lists">
        <td id="lobby-message-list">
            <ul id="lobby-chat-messages">
                <li data-ng-repeat="message in chatMessages" ng-class="{'user-chat-message': message.from === currentUser.username}" id="lobby-chat-message">
                    <!-- Only display from if there is a from. Errors will not have a from -->
                    [{{message.timestamp}}] {{message.from ? message.from + ":" : ""}} {{message.message}}
                </li>
            </ul>
        </td>
        <td id="lobby-users-list">
            <ul id="lobby-users">
                <li data-ng-repeat="user in users" id="lobby-user">
                    <label>
                        <input data-ng-model="$parent.$parent.selected_opponent" data-ng-if="user.userId!=currentUser.id" type="radio"
                               value="{{$parent.user.userId}}" name="user_selection" /> {{user.name}}
                    </label>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td id="lobby-message">
            <textarea data-ng-model="user_chat_message" data-ng-keyup="sendMessage($event)"
                      id="lobby-chat-text-area" rows="1" cols="75" wrap="off"
                      placeholder="Enter chat message..."></textarea>
            <input data-ng-click="sendMessage()" data-ng-disabled="sending" type="submit" value="Send" class="btn btn-navbar csh-button"/>
        </td>
        <td id="lobby-invite">
            <input data-ng-click="startGame()" type="button" value="Invite to game" class="btn btn-warning"/>
        </td>
    </tr>
    <tr id="lobby-mods">
        <td colspan="2" id="lobby-mod-selection">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="mod_selection">Select game type:</label>
                    <div data-ng-repeat="mod in mods" class="form-control lobby-mod-selector">
                        <label>
                            <input data-ng-model="$parent.selected_mod" type="radio" value="{{mod}}"
                                   name="mod_selection" id="mod_selection"/>
                            {{mod}}
                        </label>
                    </div>
                </div>
            </form>
        </td>
    </tr>


</table>
