<div>
    <div ng-hide="doneLoading">
        <h1>Loading...</h1>
    </div>
    <div ng-show="doneLoading">
        <h1>{{deckName}}</h1>
        <h2>{{getTotalSelected()}} / {{maxCards}}</h2>
        <ul>
            <li ng-repeat="(name, value) in cardInfo" ng-show="value">
                <b>{{name}}</b>: {{value}}
            </li>
        </ul>

        <table>
            <tr ng-repeat="card in cards">
                <td>
                    <a ng-click="showDetails(card)">{{card.properties.name}}</a>
                </td>
                <td>
                    <input ng-click="decrement(card)" type="button" value="-" />
                </td>
                <td>
                    {{$parent.currentDeck[card.id]}} / {{card.max}}
                </td>
                <td>
                    <input ng-click="increment(card)" type="button" value="+" />
                </td>
            </tr>
        </table>
        <form>
            <input ng-model="deckName" type="text" />
            <input ng-click="saveDeck()" type="submit" value="Save Deck"/>
        </form>
        <ul>
            <li ng-repeat="deck in savedDecks">
                <a ng-click="switchDeck(deck)">{{deck.name}}</a>
                <input ng-click="deleteDeck(deck.name)" type="button" value="Delete"/>
            </li>
        </ul>
        <input ng-show="enteringGame" ng-click="enterGame()" type="button" value = "Start game" />
        <input ng-hide="enteringGame" ng-click="goBack()" type="button" value="Go back to lobby" />
    </div>
</div>