<div>
    <h1>{{getTotalSelected()}} / {{maxCards}}</h1>
    <ul>
        <li ng-repeat="(name, value) in cardInfo" ng-show="value">
            <b>{{name}}</b>: {{value}}
        </li>
    </ul>
    <table>
        <tr ng-repeat="card in cards">
            <td>
                <a ng-click="showDetails(card)">{{card.properties.name}}</a>
            </td>
            <td>
                <input ng-click="decrement(card)" type="button" value="-" />
            </td>
            <td>
                {{$parent.currentDeck[card.id]}} / {{card.max}}
            </td>
            <td>
                <input ng-click="increment(card)" type="button" value="+" />
            </td>
        </tr>
    </table>
</div>