.deckbuilder {
    /* TODO this doesn't work for some reason... */
    width: 80%;
    margin-left: 20px;
    position: absolute;
}

.deckBuilderDeckName {}

.deckBuilderCardsSelected {}

.deckBuilderSaveDeckForm {}

.deckBuilderSaveDeckInput {}

.deckBuilderDeckNameInput {}

.deckBuilderStartOrCancelGame {}

.deckBuilderSavedDecksList {}

.deckBuilderSavedDeckOption {}

.deckBuilderCardListTable {
    display: grid;
    grip-template-rows: auto;
    /* 
    grid-template-columns get filled in using JavaScript
    */
    background-color: #fff;
    color: #000;
    overflow: auto;
}

.deckBuilderCardListHeader {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.deckBuilderCardListCell {
    border: 1px solid #ddd;
    text-align: center;
}

.deckBuilderCardCountContainerSpan {
    font-size: 0.8em;
}