/* WHOLE LOBBY */

.lobby {
    width: 80%;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: absolute;
}

/* TABLE HEADERS */

.lobbyHeader {
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    color: #DDDDDD;
    background-color: #000000;
    border: 2px outset #9D9D9D;
}

.lobbyTitle {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.7%;
}

.lobbyDeckBuilder {
    align-self: center;
    padding: 1.5%;
}

/* Game invite accept dialog */
.lobbyInviteRequest {
    display: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.3em;
    text-align: center;
    background-color: #0033CC;
    color: #EEEEEE;
    border-top-color: #FFFFFF;
    vertical-align: middle;
    grid-column: 1 / span 2;
}

/* SECTION HEADERS */

.lobbyListHeaders {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.4em;
    text-align: center;
    border: 2px outset #9D9D9D;
}

.lobbyMessageListHeader {
}

.lobbyUsersListHeaders {
}

/* MAIN MESSAGE & USERS SECTIONS */

.lobbyLists {
    vertical-align: text-top;
    height: 400px;
    border: 2px outset #9D9D9D;
    overflow-y: auto;
}

.lobbyMessageList {
    font-size: 0.9em !important;
}
/* List of all messages */
.lobbyChatMessages {
    list-style-type: none;
    padding-left: 0;
}

.lobbyChatMessages:nth-child(even) {
    background-color: #FFFFFF;
}
.lobbyChatMessages:nth-child(odd) {
    background-color: #EEEEEE;
}

/* Each individual message line */
.lobbyChatMessage {
}

.lobbyUsersList {
    padding-top: 7px;
    font-size: 1.2em;
    font-family: Verdana, Geneva, sans-serif;
}

/* List of all users */
.lobbyUsers {
    list-style-type: none;
    padding-left: 0;
}
/* Each individual user line */
.lobbyUser {
    font-weight: normal;
}

/* FOOTER SECTIONS */

.lobbyMessage {
    background-color: #000000;
    border: 2px outset #9D9D9D;
    padding: 0.8%;
}
/* TEXT AREA FOR TYPING CHAT MESSAGES */

.lobbyTextArea {
    outline: none;
    overflow: auto;
    vertical-align: middle;
    margin-left: 5px;
    padding: 3px;
}

.inviteButton {
    margin: 5px;
}

.lobbyInviter {
    background-color: #000000;
    text-align: center;
    border: 2px outset #9D9D9D;
}

.lobbyMods {
    grid-column: 1 / span 2;
    border: 2px outset #9D9D9D;
}

.lobbyModSelection {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

.lobbyMod {
    font-weight: bold;
    padding: 10px;
}
