.loginForm {
    margin-left: 2%;
    margin-top: 10px;
}

.loginServerSelectContainer {}

.loginServerListLabel {
    font-size: 1.3em;
}

.loginServerSelectList {
    width: 30%;
    margin-bottom: 10px;
}

.loginServerOtherContainer {}

.loginServerOtherLabel {
    font-size: 1.3em;
}

.loginServerOtherInput {
    width: 30%;
    margin-bottom: 15px;
}

.loginTestOtherServerBtn {}

.loginServerLoadingDisplay {
    width: 30%;
}

.loginWebsocketConnectionStatus {
    font-size: 1.0em;
    font-weight: bold;
}

.loginWebsockAddressDisplay {
    font-size: 1.0em;
    width: 30%;
    border: 1px solid grey;
    background-color: #d9d9d9;
    padding-left: 3px
}

.loginUsernameContainer {}

.loginUsernameLabel {
    font-size: 1.3em;
}

.loginUsernameInput {
    width: 30%;
}

.loginRememberMeLabel {
    font-size: 1.1em;
}

.loginRememberMeCheckbox {}

.loginSubmitBtn {}
