.table {
    display: table;
}

.tableTitle {
    display: table-caption;
    text-align: center;
    font-weight: bold;
}

.tableHeading {
    display: table-row;
    font-weight: bold;
}

.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}