.topNavbarNav {
    background-color: #1a1a1a;
    margin-bottom: 10px;
}

.topNavbarContainer {}

.topNavbarHeader {}

.topNavbarTitle {}

.topNavbarSeparator {}

.topNavbarUsernameDisplay {}

.topNavbarLogoutBtnContainer {
    display: block;
}

.topNavbarLogoutBtn {}
