<div>
    <!-- Action buttons -->
    <div>
        <div ng-repeat="action in actions" ng-if="action.isPlayer">
            <input ng-click="startAction(action)" ng-hide="doingAction" type="button" value="{{action.action}}" />
        </div>
        <div>
            <input ng-click="cancelAction()" ng-show="doingAction" type="button" value="Cancel" />
            <input ng-click="performAction()" ng-show="doingAction" type="button" value="{{currentAction.action}}" />
        </div>
    </div>

    <!-- Player display -->
    <div>
        <div ng-repeat="(type, info) in playerInfos">
            <h1><u>{{info.name}}</u></h1>

            <!-- Player properties -->
            <div>
                <h3>Properties</h3>
                <ul>
                    <li ng-repeat="(name, value) in info.properties">
                        <b>{{name}}</b>: {{value}}
                    </li>
                </ul>
            </div>

            <!-- Player cards -->
            <div ng-repeat="(zoneName, zoneInfo) in info.zones">
                <div ng-show="zoneInfo.known">
                    <h3>{{zoneName}}</h3>
                    <ul>
                        <li ng-repeat="(id, card) in zoneInfo.entities">
                            <div class="card"
                                ng-class="{'selected': card.selected, 'targetable': card.isTargetable()}">
                                <!-- For target required actions -->
                                <a href ng-click="selectCard(card)" ng-show="$eval(targets.indexOf(id)) != -1 && doingAction">
                                    {{card.properties.name}}
                                </a>

                                <!-- For non-target-required actions -->
                                <div ng-hide="$eval(targets.indexOf(id)) != -1 && doingAction">
                                    <p>
                                        {{card.properties.name}}
                                    </p>
                                    <input ng-repeat="action in actions" ng-if="!action.isPlayer && action.id == id" ng-click="startAction(action)" type="button" value="{{action.action}}"/>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>

                <!-- For opponent's cards. Is there a better way? -->
                <div ng-show="!zoneInfo.known && zoneName==='Hand'">
                    <h3>{{zoneName}}</h3>
                    <ul>
                        <li>{{info.zones.Hand.length()}} cards</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>