<div class="game game-{{modName}}">


    <!-- Player display -->
    <div>
        <div ng-repeat="(type, info) in playerInfos" class="player"
            ng-class="{'player-user': info == playerInfos.user, 'player-opponent': info != playerInfos.user}">

            <!-- Player information boxes -->
            <div class="properties player-info-box">
                <h4 style="text-decoration: underline; font-weight: bold;" ng-click="selectEntity(info)"
                    ng-class="{'selected': info.selected, 'targetable': doingAction && targets.indexOf(info.id) !== -1}">{{info.name}}</h4>
                <ul style="list-style: none outside none; margin: 0; padding: 0;">
                    <li ng-repeat="(name, value) in info.properties">
                        <b>{{name}}</b>: {{value}}
                    </li>
                    <li><b>CARDS: </b>{{info.zones.Hand.length()}}</li>
                </ul>
                <!-- Action buttons -->
                <div class="player-actions">
                    <div ng-repeat="action in actions" ng-if="action.isPlayer && action.id == info.id">
                        <input ng-click="startAction(action)" ng-hide="doingAction" type="button" value="{{action.action}}"
                               class="btn btn-navbar csh-button"/>
                    </div>
                    <div ng-show="doingAction && info == playerInfos.user">
                        <input ng-click="cancelAction()" type="button" value="Cancel"
                               class="btn btn-navbar csh-button"/>
                        <input ng-click="performAction()" type="button" value="{{currentAction.action}}"
                               class="btn btn-navbar csh-button"/>
                    </div>
                </div>
            </div>

            <!-- Player cards -->
            <div ng-repeat="(zoneName, zoneInfo) in info.zones" class="zone zone-{{zoneName}}">
                <div ng-show="zoneInfo.known">
                    <!--<h3>{{zoneName}}</h3>-->
                    <card card-info="card" targets="targets" doing-action="doingAction" 
                        select-entity="selectEntity(card)" actions="actions" start-action="startAction(action)"
                        ng-repeat="(id, card) in zoneInfo.entities">
                    </card>
                </div>

                <!-- For opponent's cards. Is there a better way? -->
                <div ng-show="!zoneInfo.known && zoneName==='Hand'">
                    <!--<h3>{{zoneName}}</h3>-->
                </div>
            </div>
        </div>
    </div>
</div>