<div>
    <!-- Action buttons -->
    <div>
        <div ng-repeat="action in actions">
            <input ng-click="doAction(action)" ng-hide="doingAction" type="button" value="{{action.action}}" />
        </div>
        <div>
            <input ng-click="cancelAction()" ng-show="doingAction" type="button" value="Cancel" />
        </div>
    </div>

    <!-- Player display -->
    <div>
        <div ng-repeat="(type, info) in playerInfos">
            <h1><u>{{info.name}}</u></h1>

            <!-- Player properties -->
            <div>
                <ul>
                    <li ng-repeat="(name, value) in info.properties">
                        <b>{{name}}</b>: {{value}}
                    </li>
                </ul>
            </div>

            <!-- Player cards -->
            <div ng-repeat="(zoneName, zoneInfo) in info.zones" ng-show="zoneInfo.known">
                <h3>{{zoneName}}</h3>
                <ul>
                    <li ng-repeat="(id, card) in zoneInfo.entities">
                        {{card.properties.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>