<div>
    <div data-ng-hide="doneLoading">
        <h1>Loading...</h1>
    </div>
    <div data-ng-show="doneLoading">
        <!-- DECK HEADER -->
        <h1>Deck name: {{deckName}}</h1>
        <h2>{{getTotalSelected()}} / {{maxCards}}</h2>

        <!-- Deck manipulation & `Start game` | `Back to lobby` controls -->
        <form>
            <!-- TODO: {Phrancis} Lay this out in a nice Bootstrap form. -->
            <label>Save deck as:</label>
            <input data-ng-model="deckName" type="text" />
            <input data-ng-click="saveDeck()" type="submit" value="Save Deck" class="btn btn-xs btn-primary"/>
            <br/>
            <input data-ng-show="enteringGame" data-ng-click="enterGame()" type="button" value = "Start game" class="btn btn-sm btn-success"/>
            <input data-ng-hide="enteringGame" data-ng-click="goBack()" type="button" value="Go back to lobby" class="btn btn-sm btn-default"/>
        </form>

        <!-- List of saved decks with `Delete` button -->
        <ul>
            <li data-ng-repeat="deck in savedDecks">
                <a data-ng-click="switchDeck(deck)">{{deck.name}}</a>
                <input data-ng-click="deleteDeck(deck.name)" type="button" value="Delete" class="btn btn-xs btn-danger"/>
            </li>
        </ul>
        <!--
             Card info
             Displayed upon clicking the card name link from the list of cards.
             TODO: Add more fields of card information to be shown.
          -->
        <ul>
            <li data-ng-repeat="(name, value) in cardInfo" data-ng-show="value">
                <b>{{name}}</b>: {{value}}
            </li>
        </ul>

        <!-- LIST OF ALL CARDS - Displays one full row below for every card -->
            <!-- Available {{card.properties}} values
                SERVER JSON name      | AngularJS ref name | Note
                -------------------------------------------------
                "SICKNESS"            | SICKNESS           | 1 or 0, or empty (for cards where n/a)
                "MANA_COST"           | MANA_COST          | n, or empty (for cards n/a)
                "ATTACK"              | ATTACK             | n, or empty (for cards n/a)
                "HEALTH"              | HEALTH             | n, or empty (for cards n/a)
                "ATTACK_AVAILABLE"    | ATTACK_AVAILABLE   | 1, or empty (when explicit 0 n/a)
                "flavor"              | flavor             | flavor, or empty
                "name"                | name               | name
                "description"         | description??      | !! null
                "type"                | creatureType       | type, or empty (for non-creatures)
                "MAX_HEALTH"          | MAX_HEALTH         | n, or empty (for cards n/a)
            -->
        <table>
            <tr>
                <td>Type</td>
                <td>Name</td>
                <td>-</td>
                <td>Count</td>
                <td>+</td>
                <td>Mana</td>
                <td>Atk</td>
                <td>Hlth</td>
                <td>Sick</td>
                <td>CanAtk</td>
                <td>Desc</td>
                <td>Flavor</td>
            </tr>
            <tr data-ng-repeat="card in cards">
                <td>{{card.properties.creatureType}}</td>
                <td><a data-ng-click="showDetails(card)">{{card.properties.name}}</a></td>
                <!-- Controls to add or remove a card to deck, and counter to show "current / max" count -->
                <td><!-- MINUS button -->
                    <button data-ng-click="decrement(card)" type="button" class="btn btn-xs btn-default glyphicon glyphicon-minus"></button>
                </td>
                <td><!-- How many cards you selected for this deck, and what the max allowed is -->
                    {{$parent.currentDeck[card.id]}} / {{card.max}}
                </td>
                <td><!-- PLUS button -->
                    <button data-ng-click="increment(card)" type="button" class="btn btn-xs btn-default glyphicon glyphicon-plus"></button>
                </td>
                <!-- Card stats -->
                <td>{{card.properties.MANA_COST}}</td>
                <td>{{card.properties.ATTACK}}</td>
                <td>{{card.properties.HEALTH}}</td>
                <td>{{card.properties.SICKNESS}}</td>
                <td>{{card.properties.ATTACK_AVAILABLE}}</td>
                <td>{{card.properties.description}}</td>
                <td>flavor<!--{{card.properties.flavor}}--></td>
                <!--<td>{{card.properties.MAX_HEALTH}}</td>-->
            </tr>
        </table>

    </div>
</div>