<!-- TEMPORARY -->
<!DOCTYPE html>
<html ng-app="CardshifterApp">
<head>
    <title>Cardshifter</title>

    <!-- Boostrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- The main CSS file -->
    <link href="../cardshifter.css" rel="stylesheet"/>

    <!-- The Lobby CSS file -->
    <link href="lobby.css" rel="stylesheet">

    <!-- AngularJS libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

    <!-- The API for communicating with the server -->
    <script src="server_interface/server_interface.js"></script>

    <!-- Controllers -->
    <script src="cardshifter.js"></script>
    <script src="login/login_controller.js"></script>
    <script src="lobby/lobby_controller.js"></script>
</head>
<body>

<div class="col-sm-9 col-md-10 main csh-body">
<!-- /TEMPORARY -->

<table id="lobby">
    <tr id="lobby-headers">
        <td id="lobby-title">Cardshifter Lobby</td>
        <td id="lobby-deck-builder" width="20%"><button class="btn btn-navbar csh-button">Deck Builder</button></td>
    </tr>
    <tr id="lobby-invite-request" ng-show="gotInvite">
        <td colspan="2">
            <div id="lobby-accept-invite">
                Game invite from {{invite.name}} to play {{invite.type}}!<br/>
                <input ng-click="acceptInvite(true)" type="button" value="Accept" class="btn btn-success"/>
                <input ng-click="acceptInvite(false)" type="button" value="Decline" class="btn btn-danger"/>
            </div>
        </td>
    </tr>
    <tr id="lobby-list-headers">
        <th id="lobby-message-list-header">Messages</th>
        <th id="lobby-users-list-header">Users Online</th>
    </tr>
    <tr id="lobby-lists" height="400px">
        <td id="lobby-message-list">
            <ul id="lobby-chat-messages">
                <li ng-repeat="message in chatMessages" id="lobby-chat-message">
                    [{{message.timestamp}}] {{message.from}}: {{message.message}}
                </li>
            </ul>
        </td>
        <td id="lobby-users-list">
            <ul id="lobby-users">
                <li ng-repeat="user in users" id="lobby-user">
                    <input ng-model="$parent.$parent.selected_opponent" ng-if="user.userId!=currentUser.id" type="radio"
                           value="{{$parent.user.userId}}" name="user_selection" /> {{user.name}}
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td id="lobby-message">
            <textarea ng-model="user_chat_message" ng-keyup="sendMessage($event)"
                id="lobby-chat-text-area" rows="1" cols="75" wrap="off"
                placeholder="Enter chat message..."></textarea>
            <input ng-click="sendMessage()" ng-disabled="sending" type="submit" value="Send" class="btn btn-navbar csh-button"/>
        </td>
        <td id="lobby-invite">
            <input ng-click="startGame()" type="button" value="Invite to game" class="btn btn-warning"/>
        </td>
    </tr>
    <tr id="lobby-mods">
        <td colspan="2" id="lobby-mod-selection">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="mod_selection">Select game type:</label>
                    <div ng-repeat="mod in mods" class="form-control" id="lobby-mod-selector">
                        <input ng-model="$parent.selected_mod" type="radio" value="{{mod}}"
                            name="mod_selection" id="mod_selection"/>
                        {{mod}}
                    </div>
                </div>
            </form>
        </td>
    </tr>


</table>



<!-- LOBBY SECTIONS -->
<div>
    <div>
        <h2>Online users:</h2>
        <ul>
            <li ng-repeat="user in users">
                {{user.name}} <input ng-model="$parent.$parent.selected_opponent" ng-if="user.userId!=currentUser.id" type="radio" value="{{$parent.user.userId}}" name="user_selection" />
            </li>
        </ul>
        <input ng-click="startGame()" type="button" value="Invite to game"/>
        <div ng-show="gotInvite">
            Game invite from {{invite.name}} to play {{invite.type}}
            <input ng-click="acceptInvite(true)" type="button" value="Accept"/>
            <input ng-click="acceptInvite(false)" type="button" value="Decline"/>
        </div>
        <h2>Chat:</h2>
        <ul>
            <li ng-repeat="message in chatMessages">
                [{{message.timestamp}}] {{message.from}}: {{message.message}}
            </li>
        </ul>
        <div ng-repeat="mod in mods">
            {{mod}}: <input ng-model="$parent.selected_mod" type="radio" value="{{mod}}" name="mod_selection"/>
        </div>
        <form>
            <textarea ng-model="user_chat_message" ng-keyup="sendMessage($event)" rows="4" cols="50"></textarea>
            <input ng-click="sendMessage()" ng-disabled="sending" type="submit" value="Send Message"/>
        </form>
    </div>
</div>

<!-- TEMPORARY -->
</div>
</body>
</html>
